<!doctype html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
</head>

<body ng-app="fibonacci" ng-controller='find_fib'>
  <h1>Project Euler Even Fibonacci Numbers</h1>
  <p><strong>For every number below the number input get the sum of numbers that are even. The fibonacci sequence is shown at the bottom.</strong></p>
    Number <input type='number' ng-model='max' />
    <a class='btn btn-default' ng-click='find_fib_num();'>Enter</a>
    <p>Number: {{max}}</p>
    <p>Sum of even numbers: {{fib}}</p>
    <h4>{{fib_seq}}</h4>
</body>
<script type="text/javascript" src='js/jquery.js'></script>
<script type="text/javascript" src='js/angular.min.js'></script>
<script type="text/javascript" src='js/angular-route.js'></script>
<script type="text/javascript" src='js/angularfire.min.js'></script>
<script type="text/javascript" src='js/app.js'></script>
<script type="text/javascript" src='js/bootstrap.min.js'></script>

</html>